<h1>
  <%= @thing.name %>
  <%= render partial: 'opinions/rating', locals: { rating: @thing.opinions.average(:rating) } %>
</h1>

<section class="row">
  <span class="small-12 medium-5 column">
    <%= image_tag @thing.image_url %>
  </span>

  <div class="small-12 medium-7 column">
    <p><%= truncate @thing.description, length: 800, escape: false %></p>

    <fieldset>
      <legend>Please give us your opinion</legend>
      <%= form_for Opinion.new do |f| %>
        <%= f.hidden_field :thing_id, value: @thing.id %>
        <span class="star-rating">
          <%= f.radio_button :rating, 1, class: 'one' %><i></i>
          <%= f.radio_button :rating, 2, class: 'two' %><i></i>
          <%= f.radio_button :rating, 3, class: 'three' %><i></i>
          <%= f.radio_button :rating, 4, class: 'four' %><i></i>
          <%= f.radio_button :rating, 5, class: 'five' %><i></i>
        </span>
        <%= f.text_area :comment %>
        <%= f.submit 'Rate' %>
      <% end %>
    </fieldset>

    <ul class="opinions-list">
      <%= render @thing.opinions %>
    </ul>
  </div>

</section>



