<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Things" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "jquery" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="hide">
    <header>
      <span><%= link_to 'All things', things_path %></span>
      <span class="logged-in">Logged in as <span class="username"><%= current_user.username %></span></span>
    </header>
    <section class="body">
      <% [:notice, :error].each do |field| %>
        <% if flash[field] %>
          <p class="<%= field %>"><%= flash[field] %></p>
        <% end %>
      <% end %>
      <%= yield %>
    </section>

    <%= javascript_include_tag "application" %>
    <script>$(function(){$('body').removeClass('hide');});</script>
  </body>
</html>