<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Things" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "jquery" %>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      angular.module('ThingsFilters', []).filter('opinionBannerLegend', function() {
        return function(isNew) {
          return isNew ? 'Please give us your opinion.' : 'Change of heart? Update your opinion.';
        };
      }).filter('formAuthenticityToken', function() {
        return function() {
          return window.formAuthenticityToken;
        };
      }).filter('ratingPercentage', function() {
        return function(rating) {
          return rating * 20;
        };
      }).filter('formatDate', function() {
        return function(date) {
          return $.format.date(date, "ddd, MMM d, yyyy h:mm a").replace(/^([\w]{3})[\w]+(.*)$/, '$1$2');
        };
      });

      var ThingsApp = angular.module('ThingsApp', ['restangular', 'ThingsFilters']);

      ThingsApp.config(function(RestangularProvider) {
        RestangularProvider.setRequestSuffix('.json');
        RestangularProvider.setResponseExtractor(function(response, operation, objectName) {
          window.formAuthenticityToken = response.form_authenticity_token;
          if(operation === 'getList') {
            return response[objectName];
          } else if(operation === 'get') {
            return response[objectName.replace(/s$/, '')];
          }
        });
      });

      ThingsApp.controller('thingsCtrl', ['$scope', 'Restangular', function($scope, Restangular) {
        Restangular.all('things').getList().then(function(things) {
          $scope.things = things;
        });
      }]).controller('thingCtrl', ['$scope', 'Restangular', function($scope, Restangular) {
        Restangular.oneUrl('thing', window.location.href + '.json').get().then(function(thing) {
          $scope.thing = thing;
        });
      }]);
    </script>
  </head>

  <body data-ng-app="ThingsApp">
    <header>
      <span><%= link_to 'All things', things_path %></span>
      <span class="logged-in">Logged in as <span class="username"><%= current_user.username %></span></span>
    </header>
    <section class="body">
      <% [:notice, :error].each do |field| %>
        <% if flash[field] %>
          <p class="<%= field %>"><%= flash[field] %></p>
        <% end %>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>