<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Things" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "jquery" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <section class="body">
      <% [:notice, :error].each do |field| %>
        <% if flash[field] %>
          <p class="<%= field %>"><%= flash[field] %></p>
        <% end %>
      <% end %>
      <%= yield %>
    </section>

    <%= javascript_include_tag "application" %>
  </body>
</html>